<div style="padding: 10px">
<div style="border: 5px solid #99CCFF; border-radius: 25px; width: 500px; margin: 0 auto;">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <%= devise_error_messages! %>

    <div class="field" style="padding-top: 5px;">
      <%= f.email_field :email, autofocus: true, :placeholder => 'Email address', style: "padding: 10px; border: 1px solid #99CCFF; border-radius: 3px; width: 100%;" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field" style="padding-top: 5px;">
      <%= f.password_field :password, :placeholder => 'Password' , autocomplete: "off", style: "padding: 10px; border: 1px solid #99CCFF; border-radius: 3px; width: 100%;" %>
    </div>

    <div class="field" style="padding-top: 5px;">
      <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation' , autocomplete: "off", style: "padding: 10px; border: 1px solid #99CCFF; border-radius: 3px; width: 100%;" %>
    </div>

  <div class="field" style="padding-top: 5px;">
   Year of training: <%= f.select :year_of_training, [['1','1'],['2','2'],['3','3'],['4','4'],['5','5']] %>
  </div>

    <div class="field" style="padding-top: 5px;">
    <%= f.password_field :current_password, :placeholder => 'current password' , autocomplete: "off", style: "padding: 10px; border: 1px solid #99CCFF; border-radius: 3px; width: 100%;" %>
    </div>

    <div class="actions" style="padding-top: 10px">
      <%= f.submit "Update", style: "border: 1px solid #99CCFF; background-color: #99CCFF; border-radius: 3px; width: 100px; padding: 10px" %>
    </div>

    <div style="padding: 5px"></div>

    <%= link_to "Back", :back, style: "padding: 10px;" %>

    <div style="padding: 0px"></div>

    <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, style: "padding: 10px" %>

  <div style="padding: 10px"></div>

  <% end %>


</div>
</div>
