<% content_for :for_head do %>
	<title>CRISTAL: Sign up</title>
<% end %>
<div style="padding: 10px">
<div style="border: 0px; margin: 0 auto;">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<h2>Sign up</h2>
  <%= devise_error_messages! %>

  <div class="field" style="padding-top: 5px;">
    <%= f.text_field :firstname, autofocus: true, :placeholder => 'First name (required)', style: "padding: 10px; border: 1px solid #99CCFF; border-radius: 3px; width: 350px;" %>
  </div>

  <div class="field" style="padding-top: 5px;">
    <%= f.text_field :lastname, :placeholder => 'Last name', style: "padding: 10px; border: 1px solid #99CCFF; border-radius: 3px; width: 350px;" %>
  </div>

  <div class="field" style="padding-top: 5px;">
    <%= f.email_field :email, :placeholder => 'Email address (required)', style: "padding: 10px; border: 1px solid #99CCFF; border-radius: 3px; width: 350px;" %>
  </div>

  <div class="field" style="padding-top: 5px">
    <%= f.password_field :password, :placeholder => 'Password (required)' , autocomplete: "off", style: "padding: 10px; border: 1px solid #99CCFF; border-radius: 3px; width: 350px;" %>
  </div>

  <div class="field" style="padding-top: 5px">
    <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation (required)' , autocomplete: "off", style: "padding: 10px; margin-bottom: 5px; border: 1px solid #99CCFF; border-radius: 3px; width: 350px;" %>
  </div>
  <div class="field" style="margin: 0 auto; border: 1px solid #99CCFF; padding: 10px; border-radius: 3px; width: 350px; background-color: #f5f5f5">
   <span style="padding-right: 10px">Year of training:</span>
   <label class="radio-inline"><input id="user_year_of_training_1" value="1" name="user[year_of_training]" type="radio">1</label>
   <label class="radio-inline"><input id="user_year_of_training_2" value="2" name="user[year_of_training]" type="radio">2</label>
   <label class="radio-inline"><input id="user_year_of_training_3" value="3" name="user[year_of_training]" type="radio">3</label>
   <label class="radio-inline"><input id="user_year_of_training_4" value="4" name="user[year_of_training]" type="radio">4</label>
   <label class="radio-inline"><input id="user_year_of_training_5" value="5" name="user[year_of_training]" type="radio">5</label>
  </div>

  <div class="actions" style="padding-top: 10px">
    <%= f.submit "Sign up", style: "border: 1px solid #99CCFF; background-color: #99CCFF; border-radius: 3px; width: 100px; padding: 10px" %>
  </div>

<div style="padding: 5px"></div>

  <%= render "devise/shared/links", style: "border: 1px solid #99CCFF; background-color: #99CCFF; border-radius: 3px;" %>
  
<div style="padding: 10px"></div>
<% end %>

</div>
</div>
