<!DOCTYPE html>
<html>
  <head>
    <!-- Append content in the head tag (for example: used for graph view to include Google Chart div and java script) -->
    <% if content_for? :for_head %><%= yield :for_head %><% end %>

    <title>CRISTAL</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- link to font awesome, I used their icon in the graph page navigation pane icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <!-- RAH logo -->
    <div style="float: left; margin-left: 10px; padding-left: 10px; padding-right: 10px; padding-top: 7px; padding-bottom: 5px;">
      <img src="/assets/logo2.gif" style="max-height: 35px;"/>
      <img src="/assets/text.gif" style="padding-top: 3px; max-height: 35px;"/>
    </div>


    <!-- Display buttons only if user is logged in  -->
    <% if user_signed_in? %>
      <% if GlobalVars::Admin::Test == true %>
        <div style="position: absolute; float: left; margin-left: 45%; margin-top: 20px; text-align: center">
          <span class="key">** Test mode active **</span>
        </div>
      <% end %>

    <!-- Dropdown user account menu -->
    <div>
<span class="dropdown-toggle pull-right navtext" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Account <span class="caret"></span></span>
    <ul class="dropdown-menu dropdown-menu-right dropdown">
      <% if user_signed_in? %>
        <li ><a>Logged in as <strong><%= current_user.firstname %> <%= current_user.lastname %></strong>.</a></li>
        <li><a href="#"><%= link_to 'Edit profile', edit_user_registration_path %></a></li>
        <li><a href="#"><%= link_to "Logout", destroy_user_session_path, method: :delete %></a></li>
      <% else %>
        <li><a href="#"><%= link_to "Sign up", new_user_registration_path %></a></li>
        <li><a href="#"><%= link_to "Login", new_user_session_path %></a></li>
      <% end %>
     </ul>
    </div>


      <!-- Repeating searches and saved searches page button -->

    <div>
    <span class="dropdown-toggle pull-right navtext" data-toggle="dropdown"><span class="glyphicon glyphicon-list-alt"></span> My performance <span class="caret"></span></span>

    <ul class="dropdown-menu dropdown-menu-right" style="margin-right: 105px">
 	<li><%= link_to performances_path do-%><span class="glyphicon glyphicon-home"></span> Performance dashboard<% end %></li>
        <li><%= link_to missed_dx_performances_path do-%><span class="glyphicon glyphicon-alert"></span> Top missed diagnoses<% end %></li>
        <li><%= link_to skillmeters_performances_path do-%><span class="glyphicon glyphicon-tasks"></span> Skill meters<% end %></li>
        <li><%= link_to concept_performances_path do-%><span class="glyphicon glyphicon-list"></span> Concept hierarchy<% end %></li>
        <li><%= link_to list_performances_path do-%><span class="glyphicon glyphicon-list-alt"></span> List<% end %></li>
        <li><%= link_to report_hx_performances_path do-%><span class="glyphicon glyphicon-calendar"></span> Report history<% end %></li>
     </ul>
    </div>

      <!-- Search page button -->
    <span class="dropdown-toggle pull-right navtext" data-toggle="dropdown"><span class="glyphicon glyphicon-pencil"></span> Practise <span class="caret"></span></span>
    <ul class="dropdown-menu dropdown-menu-right" style="margin-right: 260px">
	<li><%= link_to problems_path do-%><span class="glyphicon glyphicon-home"></span> Case selection<% end %></li>
        <li><%= link_to cases_problems_path do-%><span class="glyphicon glyphicon-pencil"></span> Practise cases<% end %></li>
        <li><%= link_to user_select_problems_path do-%><span class="glyphicon glyphicon-search"></span> Search for cases<% end %></li>
        <li><%= link_to review_list_problems_path do-%><span class="glyphicon glyphicon-list-alt"></span> My review list<% end %></li>
     </ul>

    <% end %>
  </nav>

  <body>
    <!-- alert whether user needs to login or has logged in -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

  </body>

</html>
