<script>
$(document).ready(function(){
    $(document).on('click', '.glyphicon', function(){
	if ($(this).hasClass('glyphicon-menu-right')) {
       	 	$(this).removeClass('glyphicon-menu-right');
       		$(this).addClass('glyphicon-menu-down');
    	}
	else {
       	 	$(this).removeClass('glyphicon-menu-down');
       		$(this).addClass('glyphicon-menu-right');
	}

	if ($(this).next().hasClass('subdata')) {
        	$(this).next().slideToggle();
	}
	else {
		var level = $(this).attr("id");
        	// Get data from model
		$.ajax({
  			type:"GET",
  			url:"data",
  			dataType:"html",
  			data: {l: level},
  			success: function(data){
    				$("#" + level).after(data);
  			}
		});
	}
    }); 
    $(document).on('mouseenter mouseleave', '.endDx', function(){
	$(this).next().stop().slideToggle();
    });
});
</script>
<!-- Don't use < % = at the start of each.do or you get the entire array!!! -->


<% @dxlevel1s.each do |d1| %>
<table class="table" style="width: 550px; text-align: left; position: relative">
  <tr>
  <td>
<% @ldx = LearnerLevel1.where(:dx_level1_id => d1.id).where(:user_id => current_user.id).first %>
  <% if (@ldx.nil?) or (@ldx.cases_attempted == 0) %>    
  <%= image_tag("grey.gif", width: "15px", height: "15px") %> 
<% else %>
  <% @correct = @ldx.correct_dx/@ldx.cases_attempted*1.00 %>
  <% @excellent = @ldx.excellent_cases/@ldx.cases_attempted*1.00 %>
  <% if @excellent > 0.5 %>
    <%= image_tag("green.gif", width: "15px", height: "15px") %>  
  <% elsif @correct > 0.5 %>
    <%= image_tag("yellow.gif", width: "15px", height: "15px") %> 
  <% else %>
    <%= image_tag("red.gif", width: "15px", height: "15px") %> 
  <% end %>
<% end %>
  <%= d1.name %> <% @id = "l1_" + d1.id.to_s %> <%= content_tag :span, "", id: @id, class: "glyphicon glyphicon-menu-right" %>
  </td>
  </tr>
</table>
<% end %>

