<% content_for :for_head do %>
	<title>CRISTAL: Performance dashboard</title>	
<% end %>
<div class="row container" style="max-width:600px; margin: 0 auto">
<p><span class="section_title"><h2>Performance dashboard</h2></span></p>

<%= link_to missed_dx_performances_path do-%> 
<div class="well well-sm">
<div class="row">
<div class="col-md-2" style="font-size: 3em">
<span class="glyphicon glyphicon-alert"></span>
</div>
<div class="col-md-10 graylink" style="text-align: left">
<b>Top missed diagnoses</b>
<br />
This page highlights the diagnoses that you have performed least well on.
</div>
</div>
</div>
<% end %>

<%= link_to skillmeters_performances_path do-%> 
<div class="well well-sm">
<div class="row">
<div class="col-md-2" style="font-size: 3em">
<span class="glyphicon glyphicon-tasks"></span>
</div>
<div class="col-md-10" style="text-align: left">
<b>Skill meters</b>
<br />
View how much of each body system you have covered so far.
</div>
</div>
</div>
<% end %>

<%= link_to concept_performances_path do-%> 
<div class="well well-sm">
<div class="row">
<div class="col-md-2" style="font-size: 3em">
<span class="glyphicon glyphicon-list"></span>
</div>
<div class="col-md-10" style="text-align: left">
<b>Concept hierarchy</b>
<br />
Explore a dropdown menu to view your performance in different areas, starting from the body system level going down to individual diagnoses.
</div>
</div>
</div>
<% end %>

<%= link_to list_performances_path do-%> 
<div class="well well-sm">
<div class="row">
<div class="col-md-2" style="font-size: 3em">
<span class="glyphicon glyphicon-list-alt"></span>
</div>
<div class="col-md-10" style="text-align: left">
<b>List</b>
<br />
Explore different levels of a list to view your performance in table format, starting from the body system level going down to individual diagnoses.
</div>
</div>
</div>
<% end %>

<%= link_to report_hx_performances_path do-%> 
<div class="well well-sm">
<div class="row">
<div class="col-md-2" style="font-size: 3em">
<span class="glyphicon glyphicon-calendar"></span>
</div>
<div class="col-md-10" style="text-align: left">
<b>Report history</b>
<br />
All the reports you have written are stored here.
</div>
</div>
</div>
<% end %>


</div>
