<% content_for :for_head do %>
	<title>Performance Data</title>
<style>

#mainpage {
	width: 1200px;
	margin: 0 auto;
}

#reports {
	width: 600px;
	text-align: left;
	align: center;
}
</style>

<% end %>
	<!-- JQuery library must be loaded before Highcharts code for it to work-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/index_files/customEvents.js"></script>

<a href="top"></a>
<div class="row container" style="max-width: 820px; margin: 0 auto">
<%= render "nav" %>
<div class="col-md-12">
<p></p>
<% if @level != 1 %>
<div class="well well-sm">
<% if @level == 2 %>
You are here: <%= link_to "Body systems", list_performances_path %> -> <%= @dxlevel1.name %>
<% elsif @level == 3 %>
<% @learner = LearnerLevel1.where(:dx_level1_id => @dxlevel1.id, :user_id => current_user.id).first %>
You are here: <%= link_to "Body systems", list_performances_path %> -> <%= link_to @dxlevel1.name, list_performances_path(:l1 => @learner.id) %> -> <%= @dxlevel2.name %>
<% elsif @level == 4 and @dxlevel3.nil? %>
<% @learner = LearnerLevel1.where(:dx_level1_id => @dxlevel1.id, :user_id => current_user.id).first %>
You are here: <%= link_to "Body systems", list_performances_path %> -> <%= link_to @dxlevel1.name, list_performances_path(:l1 => @learner.id) %> -> <%= @dxlevel2.name %>
<% elsif !@dxlevel3.nil? and @level == 4 %>
<% @learner = LearnerLevel1.where(:dx_level1_id => @dxlevel1.id, :user_id => current_user.id).first %>
<% @learner2 = LearnerLevel2.where(:dx_level2_id => @dxlevel2.id, :user_id => current_user.id).first %>
You are here: <%= link_to "Body systems", list_performances_path %> -> <%= link_to @dxlevel1.name, list_performances_path(:l1 => @learner.id) %> -> <%= link_to @dxlevel2.name, list_performances_path(:l2 => @learner2.id) %> -> <%= @dxlevel3.name %>

<% end %>
</div>
<% end %>
<table class="table">
    <tr>
    <td style="width: 190px">
        <b> 
        <% if @level == 1 %>
            Body systems
        <% elsif @level == 2 %>
            <%= @dxlevel1.name %>
        <% elsif @level == 3 %>
	    <%= @dxlevel2.name %>
        <% else %>
	   <% if @dxlevel3.nil? and @level == 4 %>
		<%= @dxlevel2.name %>
	    <% else %>
		<%= @dxlevel3.name %>
	   <% end %>
        <% end %></b>
    </td>
    <td style="width: 110px">
        <b>Total reports</b>
    </td>
    <td style="width: 130px">
        <b>Missed diagnoses</b>
    </td>
    <td style="width: 130px">
        <b>Good reports</b>
    </td>
    <td style="width: 130px">
        <b>Excellent reports</b>
    </td>
    </tr>
    <!-- Default: Level 1 diagnoses -->
    <% if @level == 1 %>
    <% @learner_level1s.each do |l| %>
    <tr>
    <td>
        <%= link_to list_performances_path(:l1 => l.id) do-%>
	<%= l.name %> <span class="glyphicon glyphicon-triangle-right"></span>
	<% end %>
    </td>
    <td>
        <%= l.cases_attempted %>
    </td>
    <td>
        <% if l.cases_attempted != 0 %>
        <% @incorrect = ((l.cases_attempted - l.correct_dx)/l.cases_attempted.to_f)*100.00 %>
        <%= sprintf('%.2f', @incorrect) %>%
        <% else %>
            -
        <% end %>
    </td>
    <td>
        <% if l.cases_attempted != 0 %>
        <% @correct = ((l.correct_dx - l.excellent_cases)/l.cases_attempted.to_f)*100.00 %>
        <%= sprintf('%.2f', @correct) %>%
        <% else %>
            -
        <% end %>
    </td>
    <td>
        <% if l.excellent_cases != 0 %>
        <% @excellent = (l.excellent_cases/l.cases_attempted.to_f)*100.00 %>
        <%= sprintf('%.2f', @excellent) %>%
        <% else %>
            -
        <% end %>
    </td>
    </tr>
    <% end %>
    <!-- Level 2 diagnoses -->
    <% elsif @level == 2 %>
    <% @dxlevel2s.each do |d| %>
    <% l = LearnerLevel2.where(:dx_level2_id => d.id, :user_id => current_user.id).first %>
    <tr>
    <td>
        <% if l.present? %>
            <%= link_to list_performances_path(:l2 => l.id) do-%>
	    <%= l.name %> <span class="glyphicon glyphicon-triangle-right"></span>
	    <% end %>
            </td>
            <td>
            <%= l.cases_attempted %>
            </td>
            <td>
            <% if l.cases_attempted != 0 %>
                <% @incorrect = ((l.cases_attempted - l.correct_dx)/l.cases_attempted.to_f)*100.00 %>
                <%= sprintf('%.2f', @incorrect) %>%
                </td>
                <td>
        	<% @correct = ((l.correct_dx - l.excellent_cases)/l.cases_attempted.to_f)*100.00 %>
                <%= sprintf('%.2f', @correct) %>%
                </td>
                <td>
                <% @excellent = (l.excellent_cases/l.cases_attempted.to_f)*100.00 %>
                <%= sprintf('%.2f', @excellent) %>%
            <% else %>
                -
                </td>
                <td>
                -
                </td>
                <td>
                -
            <% end %>
        <% else %>
            <%= d.name %>
            </td>
            <td>
            0
            </td>
            <td>
            -
            </td>
            <td>
            -
            </td>
            <td>
            -
        <% end %>
    </td>
    </tr>
    <% end %>

    <!-- Only display key conditions table if there are key conditions for that dx (there are none for breast category) -->
    <% @check = EndDx.where(:dxable_id => @dxlevel1.id, :dxable_type => "DxLevel1") %>
    <% if @check.present? %>
    <tr>
    <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
    <td style="width: 190px">
        <b><%= @dxlevel1.name %> key conditions</b>
    </td>
    <td style="width: 110px">
        <b>Total reports</b>
    </td>
    <td style="width: 130px">
        <b>Missed diagnoses</b>
    </td>
    <td style="width: 130px">
        <b>Good reports</b>
    </td>
    <td style="width: 120px">
        <b>Excellent reports</b>
    </td>
    </tr>
    <!-- Level 2: Key conditions -->
    <% @keyconditions.each do |d| %>
    <% l = LearnerDx.where(:end_dx_id => d.id, :user_id => current_user.id).first %>
    <tr>
    <td>
        <% if l.present? %>
            <%= l.name %>
            </td>
            <td>
            <%= l.cases_attempted %>
            </td>
            <td>
            <% if l.cases_attempted != 0 %>
                <% @incorrect = ((l.cases_attempted - l.correct_dx)/l.cases_attempted.to_f)*100.00 %>
                <%= sprintf('%.2f', @incorrect) %>%
                </td>
                <td>
        	<% @correct = ((l.correct_dx - l.excellent_cases)/l.cases_attempted.to_f)*100.00 %>
                <%= sprintf('%.2f', @correct) %>%
                </td>
                <td>
                <% @excellent = (l.excellent_cases/l.cases_attempted.to_f)*100.00 %>
                <%= sprintf('%.2f', @excellent) %>%
            <% else %>
		-
	        </td>
                <td>
                -
                </td>
                <td>
                -
            <% end %>
        <% else %>
            <%= d.name %>
            </td>
            <td>
            0
            </td>
            <td>
            -
            </td>
            <td>
            -
            </td>
            <td>
            -
        <% end %>
    </td>
    </tr>
    <% end %>
    <% end %>
<!-- Level 3 diagnoses -->
    <% elsif @level == 3 %>
    <% @dxlevel3s.each do |d| %>
    <% l = LearnerLevel3.where(:dx_level3_id => d.id, :user_id => current_user.id).first %>
    <tr>
    <td>
        <% if l.present? %>
            <%= link_to list_performances_path(:l3 => l.id) do-%>
	    <%= l.name %> <span class="glyphicon glyphicon-triangle-right"></span>
	    <% end %>
            </td>
            <td>
            <%= l.cases_attempted %>
            </td>
            <td>
            <% if l.cases_attempted != 0 %>
                <% @incorrect = ((l.cases_attempted - l.correct_dx)/l.cases_attempted.to_f)*100.00 %>
                <%= sprintf('%.2f', @incorrect) %>%
                </td>
                <td>
       		<% @correct = ((l.correct_dx - l.excellent_cases)/l.cases_attempted.to_f)*100.00 %>
                <%= sprintf('%.2f', @correct) %>%
                </td>
                <td>
                <% @excellent = (l.excellent_cases/l.cases_attempted.to_f)*100.00 %>
                <%= sprintf('%.2f', @excellent) %>%
            <% else %>
                -
                </td>
                <td>
                -
                </td>
                <td>
                -
            <% end %>
        <% else %>
            <%= d.name %>
            </td>
            <td>
            0
            </td>
            <td>
            -
            </td>
            <td>
            -
            </td>
            <td>
            -
        <% end %>
    </td>
    </tr>
    <% end %>
 <!-- End diagnoses -->
    <% elsif @level == 4 %>
    <% @end_dxes.each do |e| %>
    <% l = LearnerDx.where(:end_dx_id => e.id, :user_id => current_user.id).first %>
    <tr>
    <td>
        <% if l.present? %>
            <%= l.name %>
            </td>
            <td>
            <%= l.cases_attempted %>
            </td>
            <td>
            <% if l.cases_attempted != 0 %>
                <% @incorrect = (l.missed_dx/l.cases_attempted.to_f)*100.00 %>
                <%= sprintf('%.2f', @incorrect) %>%
                </td>
                <td>
       		<% @correct = ((l.correct_dx - l.excellent_cases)/l.cases_attempted.to_f)*100.00 %>
                <%= sprintf('%.2f', @correct) %>%
                </td>
                <td>
                <% @excellent = (l.excellent_cases/l.cases_attempted.to_f)*100.00 %>
                <%= sprintf('%.2f', @excellent) %>%
            <% else %>
                -
                </td>
                <td>
                -
                </td>
                <td>
                -
            <% end %>
        <% else %>
            <%= e.name %>
            </td>
            <td>
            0
            </td>
            <td>
            -
            </td>
            <td>
            -
            </td>
            <td>
            -
        <% end %>
    </td>
    </tr>
    <% end %>
    <% end %>
</table>
</div>
		<p></p><p><a href="#top">Click here to go back to top</a></p>
</div>






