<% content_for :for_head do %>
	<title>Performance Data</title>
<% end %>
<script>
$(document).ready(function(){
    $.ajaxSetup({ cache: false });
    jQuery.noConflict();
    $('#modal-window').modal('show');
    $(".sentence-toggle").click(function(){
	if ($(this).children('span').hasClass('glyphicon-menu-right')) {
       	 	$(this).children(':first-child').next().removeClass('glyphicon-menu-right');
       		$(this).children(':first-child').next().addClass('glyphicon-menu-down');
		$(this).children(':first-child').text('Hide ');
    	}
	else {
       	 	$(this).children(':first-child').next().removeClass('glyphicon-menu-down');
       		$(this).children(':first-child').next().addClass('glyphicon-menu-right');
		$(this).children(':first-child').text('View ');
	}

    $(this).next().slideToggle();

    }); 

    $(document).on('click', '.add-review', function(){
		var id = $(this).attr("id");
		var $this = $(this)
        	// Get data from model
		$.ajax({
  			type:"GET",
  			url:"add",
  			dataType:"html",
  			data: {l: id},
  			success: function(data) {
				$this.removeClass('add-review');
				$this.addClass('remove-review');
				$this.html(data);
			}
		});

    }); 
    $(document).on('click', '.remove-review', function(){
		var id = $(this).attr("id");
		var $this = $(this)
        	// Get data from model
		$.ajax({
  			type:"GET",
  			url:"remove",
  			dataType:"html",
  			data: {l: id},
  			success: function(data) {
				$this.removeClass('remove-review');
				$this.addClass('add-review');
				$this.html(data);
			}
		});

    }); 


});

</script>

<div class="row container" style="max-width: 650px; margin: 0 auto">
<%= render "nav" %>
<span style="color: white">a</span>
<div class="well well-sm">
<b>View top 5 based on:</b> Percentage of diagnoses missed | <%= link_to "Number of incorrect reports", missed_dx_performances_path(:type => "number") %>
</div>
<% @count = 1 %>
<% @missed.each do |m| %>
<table width="100%">
<tr>
<td style="width: 66%; text-align: left">
<span class="dx"><%= @count %>. <%= m.name %></span> 
<% if m.end_dx.category == "key" %>
<strong class="key-strong">Key condition</strong>
<% elsif m.end_dx.category == "1" %>
<strong>Category 1</strong>
<% elsif m.end_dx.category == "2" %>
<strong>Category 2</strong>
<% elsif m.end_dx.category == "3" %>
<strong>Category 3</strong>
<% end %>
<br />
<span style="font-style: italic; color: #555555"><%= m.end_dx.l1_name %>
<% if m.end_dx.dxable_type != "DxLevel1" %>
-> <%= m.end_dx.l2_name %>
	<% if m.end_dx.dxable_type == "DxLevel3" %>
	-> <%= m.end_dx.l3_name %>
	<% end %>
<% end %> 
</span>	
<br />
<span class="sentence-toggle">
	<span class="viewhide">View </span>
	<% if @correctlength == 1 %>
		report
	<% else %>
		reports
	<% end %>
	<span class="glyphicon glyphicon-menu-right"></span>
</span> 
<div style="padding-left:60px; padding-top:5px; display: none">
<% @reportcount = m.student_reports.length %>
<% @sreports = StudentReport.where(:learner_dx_id => m.id).order("created_at desc") %>
<% @sreports.each do |s| %>
<% if s.diagnosis_found == false %>
<%= link_to missed_dx_performances_path(:id => s.id), class: "btn btn-danger btn-xs" do-%><%= @reportcount %><% end %>
<% elsif s.score < 70 %>
<%= link_to missed_dx_performances_path(:id => s.id), class: "btn btn-warning btn-xs" do-%><%= @reportcount %><% end %>
<% else %>
<%= link_to missed_dx_performances_path(:id => s.id), class: "btn btn-success btn-xs" do-%><%= @reportcount %><% end %>
<% end %>
<% @reportcount = @reportcount - 1 %>
<% end %>
</div>
</td>
<td style="width: 33%; text-align: right">
<span class="dx" style="color: red"><font color="red"><%= sprintf('%.2f', m.accuracy) %>% correct</font></span>
<br />
<%= m.missed_dx %> missed <% if m.missed_dx != 1 %>diagnoses<% else %>diagnosis<% end %> out of <%= m.cases_attempted %><br />
<% if m.review_list == true %>
<%= content_tag :span, class: "remove-review", id: m.id do -%>
<span class="key">Already in review list</span>
<br />
<span class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus"></span> Remove from review list</span>
<% end %>
<% else %>
<%= content_tag :span, class: "add-review", id: m.id do -%>
<span class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Add to review list</span>
<% end %>
<% end %>
</td>
</tr>
</table>
<hr>
<% @count = @count + 1 %>
<% end %>


</div>
<p></p>

<% if params[:id].present? %>
  <div class="modal fade" id="modal-window" width="1000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
 <div class="modal-header row">
          <h4 class="modal-title" id="thing">Report review</h4>
	  Date: <%= @currentreport.created_at %>
        </div>
        <div class="modal-body row" style="width:100%">
	<div class="col-md-6">
	<h4>Expert's report</h4>
	<% if @expert_sentences.present? %>
	<% @count = 0 %>
	<% @expert_sentences.each do |i| %>
		<% if @currentreport.missing_sentences.include?(@count.to_s) %>
			<span style="color: red"><%= i %>.</span>
		<% else %>
			<%= i %>.
		<% end %>
		<% @count = @count + 1 %>
	<% end %>
	<% end %>
	</div>
	<div class="col-md-6"><h4>Your report</h4>	
	<% if @student_sentences.present? %>
	<% @count = 0 %>
	<% @student_sentences.each do |i| %>
		<% if @currentreport.correct_sentences.include?(@count.to_s) %>
			<span style="color: green"><%= i %>.</span>
		<% else %>
			<span style="color: orange"><%= i %>.</span>
		<% end %>
		<% @count = @count + 1 %>
	<% end %>
	<% end %>
	</div>
        </div>
			<div class="col-md-12 well well-sm" style="text-align: left; padding-left: 20px">
				<span class="sentence-toggle">
					<span class="viewhide">View</span> colour key <span class="glyphicon glyphicon-menu-right"></span>
				</span>
			<div style="display: none">
			<ul>
			<li><%= image_tag("red.gif", width: "15px", height: "15px") %> Missing sentences</li>
			<li><%= image_tag("yellow.gif", width: "15px", height: "15px") %> Extra sentences</li>
			<li><%= image_tag("green.gif", width: "15px", height: "15px") %> Correct sentences</li>
			</ul>
			</div>
			</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
