<% content_for :for_head do %>
	<title>Performance Data</title>
<% end %>
<script>
$(document).ready(function(){
    $(".sentence-toggle").click(function(){
	if ($(this).children('span').hasClass('glyphicon-menu-right')) {
       	 	$(this).children(':first-child').next().removeClass('glyphicon-menu-right');
       		$(this).children(':first-child').next().addClass('glyphicon-menu-down');
		$(this).children(':first-child').text('Hide ');
    	}
	else {
       	 	$(this).children(':first-child').next().removeClass('glyphicon-menu-down');
       		$(this).children(':first-child').next().addClass('glyphicon-menu-right');
		$(this).children(':first-child').text('View ');
	}

    $(this).next().slideToggle();

    }); 

    $(document).on('click', '.add-review', function(){
		var id = $(this).attr("id");
		var $this = $(this)
        	// Get data from model
		$.ajax({
  			type:"GET",
  			url:"add",
  			dataType:"html",
  			data: {l: id},
  			success: function(data) {
				$this.removeClass('add-review');
				$this.addClass('remove-review');
				$this.html(data);
			}
		});

    }); 
    $(document).on('click', '.remove-review', function(){
		var id = $(this).attr("id");
		var $this = $(this)
        	// Get data from model
		$.ajax({
  			type:"GET",
  			url:"remove",
  			dataType:"html",
  			data: {l: id},
  			success: function(data) {
				$this.removeClass('remove-review');
				$this.addClass('add-review');
				$this.html(data);
			}
		});

    }); 


});

</script>

<div class="row container" style="max-width: 650px; margin: 0 auto">
<%= render "nav" %>
<% @count = 1 %>
<% @missed.each do |m| %>
<table width="100%">
<tr>
<td style="width: 66%; text-align: left">
<span class="dx"><%= @count %>. <%= m.name %></span> 
<% if m.end_dx.category == "key" %>
<strong class="key-strong">Key condition</strong>
<% elsif m.end_dx.category == "1" %>
<strong>Category 1</strong>
<% elsif m.end_dx.category == "2" %>
<strong>Category 2</strong>
<% elsif m.end_dx.category == "3" %>
<strong>Category 3</strong>
<% end %>
<br />
<span style="font-style: italic; color: #555555"><%= m.end_dx.l1_name %>
<% if m.end_dx.dxable_type != "DxLevel1" %>
-> <%= m.end_dx.l2_name %>
	<% if m.end_dx.dxable_type == "DxLevel3" %>
	-> <%= m.end_dx.l3_name %>
	<% end %>
<% end %> 
</span>	
<br />
<span class="sentence-toggle">
	<span class="viewhide">View </span>
	<% if @correctlength == 1 %>
		report
	<% else %>
		reports
	<% end %>
	<span class="glyphicon glyphicon-menu-right"></span>
</span> 
<div style="padding-left:60px; padding-top:5px; display: none">
<% @reportcount = m.student_reports.length %>
<% m.student_reports.each do |s| %>
<% if s.diagnosis_found == false %>
<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-window">
<% elsif s.score < 70 %>
<button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modal-window">
<% else %>
<button class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal-window">
<% end %>
    <%= @reportcount %>
  </button>
<% @reportcount = @reportcount - 1 %>
<% end %>
</div>
</td>
<td style="width: 33%; text-align: right">
<span class="dx" style="color: red"><font color="red"><%= m.accuracy %>% correct</font></span>
<br />
<%= m.missed_dx %> missed <% if m.missed_dx != 1 %>diagnoses<% else %>diagnosis<% end %> out of <%= m.cases_attempted %><br />
<% if m.review_list == true %>
<%= content_tag :span, class: "remove-review", id: m.id do -%>
<span class="key">Already in review list</span>
<br />
<span class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus"></span> Remove from review list</span>
<% end %>
<% else %>
<%= content_tag :span, class: "add-review", id: m.id do -%>
<span class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Add to review list</span>
<% end %>
<% end %>
</td>
</tr>
</table>
<hr>
<% @count = @count + 1 %>
<% end %>


</div>
<p></p>

  <div class="modal fade" id="modal-window" width="1000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="thing">Report review</h4>
        </div>
        <div class="modal-body row">
<div class="col-md-6">
	<h4>Expert report</h4>
THERE IS A HYPODENSE LESION IN SEGMENT 4A OF THE LIVER MEASURING 1.5CM IN DIAMETER.  THE APPEARANCES ARE CONSISTENT WITH THAT OF A SIMPLE CYST.  THE REMAINDER OF THE LIVER SHOWS NO EVIDENCE OF ANY ABNORMALITY. THERE IS A VERY LARGE MASS ON THE SUPERIOR PART OF THE LEFT KIDNEY MEASURING 8X9.5CM. THERE IS PATCHY ENHANCEMENT WITH CONTRAST, SUGGESTING SOME NECROSIS WITHIN THE CENTRE OF THE TUMOUR. APPEARANCES WOULD BE CONSISTENT WITH A RENAL CELL CARCINOMA. THERE IS GROSS ENLARGEMENT OF THE LEFT RENAL VEIN, SUGGESTING THAT THIS IS INVOLVED IN THE TUMOUROUS PROCESS. THE LEFT GONADAL VEIN HOWEVER IS ENHANCING WELL.  THERE IS NO EVIDENCE OF ANY OBSTRUCTION OF THE INFERIOR VENA CAVA. THERE IS NO EVIDENCE OF ANY ILLUSION WITHIN THE RIGHT KIDNEY.  THE SPLEEN, PANCREAS AND ADRENALS APPEAR NORMAL. THE AORTA IS NOT DILATED THROUGHOUT ITS LENGTH. THE PATIENT APPEARS TO HAVE HAD A HYSTERECTOMY IN THE PAST.  THERE IS NO EVIDENCE OF ANY OTHER ABNORMALITY, OR LYMPHADENOPATHY WITHIN THE ABDOMEN OR PELVIS.  COMMENT:  VERY LARGE MASS ON THE LEFT KIDNEY INVOLVING THE LEFT RENAL VEIN, CONSISTENT WITH A RENAL CELL CARCINOMA.
</div>
<div class="col-md-6">
<h4>Your report</h4>			
THERE IS A HYPODENSE LESION IN SEGMENT 4A OF THE LIVER MEASURING 1.5CM IN DIAMETER.  THE APPEARANCES ARE CONSISTENT WITH THAT OF A SIMPLE CYST. THERE IS A VERY LARGE MASS ON THE SUPERIOR PART OF THE LEFT KIDNEY MEASURING 8X9.5CM. THE APPEARANCE IS CONSISTENT WITH A BENIGN CYST. THE ABDOMINAL AORTA IS DILATED AT THE LEVEL OF THE LEFT RENAL ARTERY. THE SPLEEN, PANCREAS AND ADRENALS APPEAR NORMAL. THE PATIENT APPEARS TO HAVE HAD A HYSTERECTOMY IN THE PAST.  THERE IS NO EVIDENCE OF ANY OTHER ABNORMALITY, OR LYMPHADENOPATHY WITHIN THE ABDOMEN OR PELVIS.  COMMENT:  VERY LARGE MASS ON THE LEFT KIDNEY CONSISTENT WITH BENIGN CYST.
</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>



