<% content_for :for_head do %>
	<title>Performance Data</title>
<% end %>
<script>
$(document).ready(function(){
    $(".sentence-toggle").click(function(){
	if ($(this).children('span').hasClass('glyphicon-menu-right')) {
       	 	$(this).children(':first-child').next().removeClass('glyphicon-menu-right');
       		$(this).children(':first-child').next().addClass('glyphicon-menu-down');
		$(this).children(':first-child').text('Hide ');
    	}
	else {
       	 	$(this).children(':first-child').next().removeClass('glyphicon-menu-down');
       		$(this).children(':first-child').next().addClass('glyphicon-menu-right');
		$(this).children(':first-child').text('View ');
	}

    $(this).next().slideToggle();

    }); 

    $(document).on('click', '.add-review', function(){
		var id = $(this).attr("id");
		var $this = $(this)
        	// Get data from model
		$.ajax({
  			type:"GET",
  			url:"add",
  			dataType:"html",
  			data: {l: id},
  			success: function(data) {
				$this.removeClass('add-review');
				$this.addClass('remove-review');
				$this.html(data);
			}
		});

    }); 
    $(document).on('click', '.remove-review', function(){
		var id = $(this).attr("id");
		var $this = $(this)
        	// Get data from model
		$.ajax({
  			type:"GET",
  			url:"remove",
  			dataType:"html",
  			data: {l: id},
  			success: function(data) {
				$this.removeClass('remove-review');
				$this.addClass('add-review');
				$this.html(data);
			}
		});

    }); 


});

</script>

<div class="row container" style="max-width: 650px; margin: 0 auto">
<%= render "nav" %>
<% @count = 1 %>
<% @missed.each do |m| %>
<table width="100%">
<tr>
<td style="width: 66%; text-align: left">
<span class="dx"><%= @count %>. <%= m.name %></span> 
<% if m.end_dx.category == "key" %>
<strong class="key-strong">Key condition</strong>
<% elsif m.end_dx.category == "1" %>
<strong>Category 1</strong>
<% elsif m.end_dx.category == "2" %>
<strong>Category 2</strong>
<% elsif m.end_dx.category == "3" %>
<strong>Category 3</strong>
<% end %>
<br />
<span style="font-style: italic; color: #555555"><%= m.end_dx.l1_name %>
<% if m.end_dx.dxable_type != "DxLevel1" %>
-> <%= m.end_dx.l2_name %>
	<% if m.end_dx.dxable_type == "DxLevel3" %>
	-> <%= m.end_dx.l3_name %>
	<% end %>
<% end %> 
</span>	
<br />
<span class="sentence-toggle">
	<span class="viewhide">View </span>
	<% if @correctlength == 1 %>
		report
	<% else %>
		reports
	<% end %>
	<span class="glyphicon glyphicon-menu-right"></span>
</span> 
<div style="padding-left:60px; padding-top:5px; display: none">
<% @reportcount = 1 %>
<% m.student_reports.each do %>
<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-window">
    1
  </button>
<% @reportcount = @reportcount + 1 %>
<% end %>
</div>
</td>
<td style="width: 33%; text-align: right">
<span class="dx" style="color: red"><font color="red"><%= m.missed_dx %> missed 
<% if m.missed_dx != 1 %>diagnoses<% else %> diagnosis<% end %></font></span>
out of <%= m.cases_attempted %><br />
<% if m.review_list == true %>
<%= content_tag :span, class: "remove-review", id: m.id do -%>
<span class="key">Already in review list</span>
<br />
<span class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus"></span> Remove from review list</span>
<% end %>
<% else %>
<%= content_tag :span, class: "add-review", id: m.id do -%>
<span class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Add to review list</span>
<% end %>
<% end %>
</td>
</tr>
</table>
<hr>
<% @count = @count + 1 %>
<% end %>


</div>
<p></p>





