<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>CRISTAL: Report History</title>
	<link href="/index_files/cornerstone.min.css" rel="stylesheet">
<% end %>
<script>
$(document).ready(function() {
    $.ajaxSetup({ cache: false });
    jQuery.noConflict();
    $(".sentence-toggle").click(function(){
	if ($(this).children('span').hasClass('glyphicon-menu-right')) {
       	 	$(this).children(':first-child').next().removeClass('glyphicon-menu-right');
       		$(this).children(':first-child').next().addClass('glyphicon-menu-down');
		$(this).children(':first-child').text('Hide ');
    	}
	else {
       	 	$(this).children(':first-child').next().removeClass('glyphicon-menu-down');
       		$(this).children(':first-child').next().addClass('glyphicon-menu-right');
		$(this).children(':first-child').text('View ');
	}

    $(this).next().slideToggle();

    }); 
    $('#modal-window').modal('show');
    $(document).on('click', 'input', function(){
        if ($(this).parent().hasClass("checkbox-inline keydx")) {
            $('.report-key').slideToggle();
        }
        else if ($(this).parent().hasClass("checkbox-inline 1")) {
            $('.report-1').slideToggle();
        }
        else if ($(this).parent().hasClass("checkbox-inline 2")) {
            $('.report-2').slideToggle();
        }
        else if ($(this).parent().hasClass("checkbox-inline 3")) {
            $('.report-3').slideToggle();
        }
    });
});


</script>
<div class="row container" style="max-width: 1000px; margin: 0 auto">
<%= render "nav" %>
<% if @studentreports.nil? %>
You haven't written any reports yet! <%= link_to "Click here", index_problems_path %> to start writing some.
<% else %>
<p></p>
<p>
<label class="checkbox-inline keydx"><input type="checkbox" value="" checked>Key diagnoses</label>
<label class="checkbox-inline 1"><input type="checkbox" value="" checked>Category 1</label>
<label class="checkbox-inline 2"><input type="checkbox" value="" checked>Category 2</label>
<label class="checkbox-inline 3"><input type="checkbox" value="" checked>Category 3</label>
</p>
<%= render "report_pagination" %>
<table class="table">
<tr>
<td>
<b>Report no.</b>
</td>
<td>
<b>Category</b>
</td>
<td>
<b>Diagnosis</b>
</td>
<td>
<b>Date</b>
</td>
<td>
<b>Correct diagnosis</b>
</td>
<td>
<b>Report accuracy</b>
</td>
<td>
<b>Missing sentences</b>
</td>
<td>
<b>Correct sentences</b>
</td>
<td>
<b>View report</b>
</td>
</tr>
<% @studentreports.each do |r| %>
<% if r.diagnosis_found != true %>
<% @color = "danger" %>
<% elsif r.score <= 70 %>
<% @color = "warning" %>
<% else %>
<% @color = "success" %>
<% end %>
<% @string = @color + " report-" + r.learner_dx.end_dx.category %>
<%= content_tag_for(:tr, r, class: @string, style: "display: table-row") do %>
<td>
#<%= @length - (@offset*10)%>
</td>
<td>
<% if r.learner_dx.end_dx.category == "key" %>
Key
<% else %>
<%= r.learner_dx.end_dx.category %>
<% end %>
</td>
<td>
<%= r.learner_dx.name %> 
</td>
<td>
<%= localize(r.created_at, :format => :long) %>
</td>
<td>
<% if r.diagnosis_found == true %>
Yes
<% else %>
No
<% end %>
</td>
<td>
<%= sprintf('%.2f', r.score) %>%
</td>
<td>
<%= r.missing_sentences.length %>
</td>
<td>
<%= r.correct_sentences.length %>	
</td>
<td>
<%= link_to "Compare report with original", report_hx_performances_path(:id => r.id, :count => params[:count], :report => (@length - (@offset*10))) %>
<% @length -= 1 %>
</td>
<% end %>
<% end %>
</table>

<%= render "report_pagination" %>

<% if params[:id].present? %>
  <div class="modal fade" id="modal-window" width="1000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
 <div class="modal-header row">
          <h4 class="modal-title" id="thing">Report #<%= params[:report] %></h4>
	  Date: <%= localize(@currentreport.created_at, :format => :long) %>
        </div>
        <div class="modal-body row" style="width:100%">
	<div class="col-md-6">
	<h4>Expert's report</h4>
	<% if @expert_sentences.present? %>
	<% @count = 0 %>
	<% @expert_sentences.each do |i| %>
		<% if @currentreport.missing_sentences.include?(@count.to_s) %>
			<span style="color: red"><%= i %>.</span>
		<% else %>
			<%= i %>.
		<% end %>
		<% @count = @count + 1 %>
	<% end %>
	<% end %>
	</div>
	<div class="col-md-6"><h4>Your report</h4>	
	<% if @student_sentences.present? %>
	<% @count = 0 %>
	<% @student_sentences.each do |i| %>
		<% if @currentreport.correct_sentences.include?(@count.to_s) %>
			<span style="color: green"><%= i %>.</span>
		<% else %>
			<span style="color: orange"><%= i %>.</span>
		<% end %>
		<% @count = @count + 1 %>
	<% end %>
	<% end %>
	</div>
        </div>
			<div class="col-md-12 well well-sm" style="text-align: left; padding-left: 20px">
				<span class="sentence-toggle">
					<span class="viewhide">View</span> colour key <span class="glyphicon glyphicon-menu-right"></span>
				</span>
			<div style="display: none">
			<ul>
			<li><%= image_tag("red.gif", width: "15px", height: "15px") %> Missing sentences</li>
			<li><%= image_tag("yellow.gif", width: "15px", height: "15px") %> Extra sentences</li>
			<li><%= image_tag("green.gif", width: "15px", height: "15px") %> Correct sentences</li>
			</ul>
			</div>
			</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
</div>






