<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>CRISTAL: Report History</title>
	<link href="/index_files/cornerstone.min.css" rel="stylesheet">
<% end %>

<script>
$(document).ready(function() {
    $.ajaxSetup({ cache: false });
    $('#modal-window').modal('show');
    $(document).on('click', 'input', function(){
        if ($(this).parent().hasClass("checkbox-inline keydx")) {
            $('.report-key').slideToggle();
        }
        else if ($(this).parent().hasClass("checkbox-inline 1")) {
            $('.report-1').slideToggle();
        }
        else if ($(this).parent().hasClass("checkbox-inline 2")) {
            $('.report-2').slideToggle();
        }
        else if ($(this).parent().hasClass("checkbox-inline 3")) {
            $('.report-3').slideToggle();
        }
    });
});


</script>

<%= render "nav" %>
<% if @studentreports.nil? %>
You haven't written any reports yet! <%= link_to "Click here", index_problems_path %> to start writing some.
<% else %>
<p></p>
<p>
<label class="checkbox-inline keydx"><input type="checkbox" value="" checked>Key diagnoses</label>
<label class="checkbox-inline 1"><input type="checkbox" value="" checked>Category 1</label>
<label class="checkbox-inline 2"><input type="checkbox" value="" checked>Category 2</label>
<label class="checkbox-inline 3"><input type="checkbox" value="" checked>Category 3</label>
</p>
<table class="table">
<tr>
<td>
<b>Report no.</b>
</td>
<td>
<b>Category</b>
</td>
<td>
<b>Diagnosis</b>
</td>
<td>
<b>Date</b>
</td>
<td>
<b>Correct diagnosis</b>
</td>
<td>
<b>Report accuracy</b>
</td>
<td>
<b>Missing sentences</b>
</td>
<td>
<b>Correct sentences</b>
</td>
<td>
<b>View report</b>
</td>
</tr>
<% @studentreports.each do |r| %>
<% if r.diagnosis_found != true %>
<% @color = "danger" %>
<% elsif r.score <= 70 %>
<% @color = "warning" %>
<% else %>
<% @color = "success" %>
<% end %>
<% @string = @color + " report-" + r.learner_dx.end_dx.category %>
<%= content_tag_for(:tr, r, class: @string, style: "display: table-row") do %>
<td>
#<%= @length - (@offset*10)%>
</td>
<td>
<% if r.learner_dx.end_dx.category == "key" %>
Key
<% else %>
<%= r.learner_dx.end_dx.category %>
<% end %>
</td>
<td>
<%= r.learner_dx.name %> 
</td>
<td>
<%= r.created_at %>
</td>
<td>
<% if r.diagnosis_found == true %>
Yes
<% else %>
No
<% end %>
</td>
<td>
<%= sprintf('%.2f', r.score) %>%
</td>
<td>
<%= r.missing_sentences.length %>
</td>
<td>
<%= r.correct_sentences.length %>	
</td>
<td>
<%= link_to "Compare report with original", report_hx_performances_path(:id => r.id) %>
<% @length -= 1 %>
</td>
<% end %>
<% end %>
</table>
<table>
<tr>
<td>
<% if @offset != 0 %>
    <%= link_to "Next", report_hx_performances_path(:count => (@pageno - @offset + 1))%>
<% else %>
    -Next-
<% end %>
</td>
<td>
Page: 
<% @count = @pageno %>
<% @pageno.times do %>
<% if @count != (@pageno - @offset) %>
    <%= link_to @count, report_hx_performances_path(:count => @count)%>
<% else %>
    <%= @count %>
<% end %>
<% @count = @count - 1 %>
<% end %>
</td>
<td>
<% if (@pageno - @offset) != 1 %>
<%= link_to "Previous", report_hx_performances_path(:count => (@pageno - @offset - 1))%>
<% else %>
    -Previous-
<% end %>
</td>
</tr>
</table>
<% if params[:id].present? %>
  <div class="modal fade" id="modal-window" width="1000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="thing">Report review</h4>
        </div>
        <div class="modal-body">
          <table><tr>
	<td>
	<h4>Expert report</h4>
	<% if @expert_sentences.present? %>
	<% @count = 0 %>
	<% @expert_sentences.each do |i| %>
		<% if @currentreport.missing_sentences.include?(@count.to_s) %>
			<span style="color: red"><%= i %></span>
		<% else %>
			<%= i %>
		<% end %>
		<% @count = @count + 1 %>
	<% end %>
	<% end %>
	</td><td><h4>Your report</h4>			
	<% if @student_sentences.present? %>
	<% @count = 0 %>
	<% @student_sentences.each do |i| %>
		<% if @currentreport.correct_sentences.include?(@count.to_s) %>
			<span style="color: green"><%= i %></span>
		<% else %>
			<%= i %>
		<% end %>
		<% @count = @count + 1 %>
	<% end %>
	<% end %>
	</td></tr></table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
