<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>Case selection</title>
<% end %>
<div class="row" style="padding-top: 30px">
	<div class="col-md-12">
		<span style="font-size: 1.75em">Welcome <%= current_user.firstname %>!</span>
		<br />
		<span style="font-size: 1.5em">Year of training: <%= current_user.year_of_training %></span>
		<p></p>
			Select one of the options below to get started with some radiology practice cases.
		<p></p>

	</div>
</div>
<div class="row" style="max-width: 900px; margin: 0 auto">
	<div class="col-md-4 case-column" style="max-width: 300px; margin: 0 auto">
		<%= link_to user_select_problems_path do %>
		<img src="/assets/userselect.jpg" style="width: 200px; height: 200px" />
		<br />
		<span class="selection_type">User select</span>
		<br/>
		Choose a topic to practise cases from. Topics are based off the RANZCR Radiodiagnosis Curriculum.	
		<% end %>
	</div>
	<div class="col-md-4 case-column" style="max-width: 300px; margin: 0 auto">
		<%= link_to cases_problems_path(:system_select => true) do %>
		<img src="/assets/systemselect.jpg" style="width: 200px; height: 200px" />  
		<br />
		<span class="selection_type">System select</span>
		<br />
		The system will choose cases that are relevant to your current stage of training. As you complete cases, the system will use this information to present you with topics you have had less exposure to and those which you need to practise more.
		<% end %>
	</div>
	<div class="col-md-4 case-column" style="max-width: 300px; margin: 0 auto">
		<% if @ldx.present? %>
			<%= link_to review_list_problems_path do %>
			<img src="/assets/reviewlist.jpg" style="width: 200px; height: 200px" />  
			<br />
			<span class="selection_type">Review list</span>
			<br/>
			Practise cases from your review list.
			<% end %>
		<% else %>
			<%= link_to review_list_add_problems_path do %>
			<img src="/assets/reviewlist.jpg" style="width: 200px; height: 200px" />  
			<br />
			<span class="selection_type">Create review list</span>
			<br/>
			Add topics that you want to focus on to your review list.
			<% end %>
		<% end %>
			
	</div>
</div>
