<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>Case selection</title>
<% end %>
<div style="max-width: 1400px; position: absolute; left: 0; right: 0; margin: auto; max-height: 100%; height: auto;" >
	<div style="font-size: 20px; padding-top: 30px">
	<p>
	Welcome <%= current_user.firstname %>!
	<br />
	Year of training: <%= current_user.year_of_training %>
	</p>
	<p>
		To get started with some practice cases, please click on one of the options below.
	</p>
	</div>
	<table style="margin: 0 auto; padding-top: 20px; max-width:100%; font-size: 20px">
	<tr> 
		<td style="padding-left: 25px; padding-right: 25px; width: 300px">
			<%= link_to user_select_problems_path do %>
				<img src="/assets/userselect.jpg" style="width: 200px; height: 200px" />
			<% end %> 
			<p>User select
			<br/>
			<span style="font-size: 15px">Choose a topic to practise cases from. Topics are based off the RANZCR Radiodiagnosis Curriculum.</span>	
			</p>
		</td>
		<td style="padding-left: 25px; padding-right: 25px; width: 300px">
			<%= link_to system_select_problems_path do %>
				<img src="/assets/systemselect.jpg" style="width: 200px; height: 200px" />  
			<% end %>	
			<p>System select
			<br/>
			<span style="font-size: 15px">The system will choose cases that are relevant to your current stage of training. As you complete practice cases, the system will use this information to present you with cases on topics you have had less exposure to and those which you need to practise more.</span>
			</p>
		</td>
		<td style="padding-left: 25px; padding-right: 25px; width: 300px">
			<% if @ldx.present? %>
			<%= link_to review_list_problems_path do %>
				<img src="/assets/reviewlist.jpg" style="width: 200px; height: 200px" />  
			<% end %>
			<p>
			Review list<br/>
			<span style="font-size: 15px">Practise cases from your review list.</span>
			<% else %>
			<%= link_to review_list_add_problems_path do %>
				<img src="/assets/reviewlist.jpg" style="width: 200px; height: 200px" />  
			<% end %>
			<p>
			Create review list<br/>
			<span style="font-size: 15px">Add topics that you want to focus on to your review list.</span>
			<% end %>
			</p>
		</td>
	</tr>
	</table>
</div>


