<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>Search</title>
	<link href="/index_files/cornerstone.min.css" rel="stylesheet">
<% end %>
<script>
$(document).ready(function(){
    $(".glyphicon").click(function(){
	if ($(this).hasClass('glyphicon-menu-right')) {
       	 	$(this).removeClass('glyphicon-menu-right');
       		$(this).addClass('glyphicon-menu-down');
    	}
	else {
       	 	$(this).removeClass('glyphicon-menu-down');
       		$(this).addClass('glyphicon-menu-right');
	}

    $(this).next().slideToggle();

    }); 



});

</script>
<!-- include the cornerstone library -->
<script src="/index_files/cornerstone.min.js"></script>
<script src="/index_files/cornerstoneMath.js"></script>
<script src="/index_files/cornerstoneTools.js"></script>

<!-- include the dicomParser library as the WADO image loader depends on it -->
<script src="/index_files/dicomParser.min.js"></script>

<!-- jpeg 2000 codec -->
<script src="/index_files/jpx.min.js"></script>

<!-- include the cornerstoneWADOImageLoader library -->
<script src="/index_files/cornerstoneWADOImageLoader.js"></script>
<%= link_to problems_path do %>
<span class="back"><span class="glyphicon glyphicon-triangle-left"></span>  Back to Problem Selection index</span>
<% end %>
<div class="container">

        <div class="row">
                <div class="col-md-6">
                       <!-- <div id="dicomImage" style="width:512px;height:512px;top:0px;left:0px; position:relative"></div> --> 
		<%= image_tag(@currentreport.report_image, position: "relative") %> 
                </div>
			
                <div class="col-md-6">

			<% if params[:q].present? %>
				<div class="corrections-box">
				<%= label_tag nil,"Report feedback",:id => "corrections-label" %>
				</div>
				<hr>
				
				<div class="correction-stats">
				<p style="color: green; font-weight: bold"><h3>Correct diagnosis: Yes/No</h3></p>
				<p style="color: cornflowerblue">
				<h3><%= sprintf('%.2f', @percentage) %>% correct</h3>
				</p>
				</div>
				<hr>
				<br>
				<% if false %>
				<% for i in @result %>	
				<div class="corrections-box">
					<div class="original-text"> 
						<% if i[0] == "n" %>
							<span class="glyphicon glyphicon-ok" style="color:green"></span>
						<% elsif i[0] == "e" %>
							<span class="glyphicon glyphicon-remove" style="color:red"></span>
						<% elsif i[0] == "m" %>
							<span class="glyphicon glyphicon-question-sign" style="color:blue"></span>
							
						<% end %>
	
						<%= i[1] %> 
					</div>
						<% if i[0] == "c" %>
							<br>
							<div class="correction-text">Correction:<br><%= i[2] %></div>
						<% end %>
					<br>
				</div>
				<hr>
				<% end %>
				<% end %>

				<div class="correct-categories">
				<strong style="background-color:red"> <%= @result[:m].length %> </strong>
				Missing sentences
				<hr>
				</div>
				<% if @result[:m].length > 0 %>View sentences <span class="glyphicon glyphicon-menu-right"></span><% end %>
				<div style="display:none">
				<% for i in @result[:m] %>	
				<div class="corrections-box">
					<div class="original-text"> 
							<span class="glyphicon glyphicon-alert" style="color: red"></span>
						<%= i %> 
					</div>
					<br>
				</div>
				<hr>
				<% end %>	
				</div>

				<div class="correct-categories">
				<strong style="background-color:green"> <%= @result[:n].length %> </strong>
				Correct sentences
				<hr>
				</div>
				<% if @result[:n].length > 0 %>View sentences <span class="glyphicon glyphicon-menu-right"></span> <% end %>
				<div style="display:none">
				<% for i in @result[:n] %>	
				<div class="corrections-box">
					<div class="original-text"> 
							<span class="glyphicon glyphicon-ok" style="color:green"></span>
						<%= i %> 
					</div>
					<br>
				</div>
				<hr>
				<% end %>	
				</div>


				<div class="correct-categories">
				<strong style="background-color:orange"> <%= @result[:e].length %> </strong>
				Additional sentences
				<hr>
				</div>
				<% if @result[:e].length > 0 %>View sentences <span class="glyphicon glyphicon-menu-right"></span><% end %>
				<div style="display:none">
				<% for i in @result[:e] %>	
				<div class="corrections-box">
					<div class="original-text"> 
							<span class="glyphicon glyphicon-question-sign" style="color:orange"></span>
						<%= i %> 
					</div>
					<br>
				</div>
				<hr>
				<% end %>	
				</div>
				<p></p>
				

				<button class="btn btn-default sm" data-toggle="modal" data-target="#modal-window">Compare with original report</button>
				<%= link_to "Next report", review_select_problems_path, class: "btn btn-default btn-sm" %> 
			<% else %>

			<form  class="form-group form-group-lg" action="/problems/review_select" role="search">	
				<%= label_tag :q,"Write a report:",:id => "teaching-label" %>
				<textarea id="search-box" name="q" type="text" class="form-control" placeholder="Search" required pattern=".*\S+.*" autofocus></textarea>
				<input id="search-box-button" type="submit" class="btn btn-default btn-lg" value="Submit" />
				<%= link_to "Skip", review_select_problems_path, class: "btn btn-default btn-sm" %> 
			</form>

			<% end %>
                </div>
        </div>

</div>

<!------- MODAL --->
  <div class="modal fade" id="modal-window" width="1000" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="thing">Report review</h4>
        </div>
        <div class="modal-body">
          <table><tr>
	<td>
	<h4>Expert report</h4>
	<% if @currentreport.present? %>
	<%= @currentreport.report_text %>
	<% end %>
	</td><td><h4>Your report</h4>			
	<% if @user_report.present? %>
	<%= @user_report %>
	<% end %>
	</td></tr></table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<script>
	cornerstoneWADOImageLoader.configure({
        	beforeSend: function(xhr) {
            		// Add custom headers here (e.g. auth tokens)
            		//xhr.setRequestHeader('x-auth-token', 'my auth token');
        	}
   	});
	var loaded = false;
    function loadAndViewImage(imageId) {
        var element = $('#dicomImage').get(0);
        //try {
            cornerstone.loadImage(imageId).then(function(image) {
                console.log(image);
                var viewport = cornerstone.getDefaultViewportForImage(element, image);
                $('#toggleModalityLUT').attr("checked",viewport.modalityLUT !== undefined);
                $('#toggleVOILUT').attr("checked",viewport.voiLUT !== undefined);
                cornerstone.displayImage(element, image, viewport);
                if(loaded === false) {
                    cornerstoneTools.mouseInput.enable(element);
                    cornerstoneTools.mouseWheelInput.enable(element);
                    cornerstoneTools.wwwc.activate(element, 1); // ww/wc is the default tool for left mouse button
                    cornerstoneTools.pan.activate(element, 2); // pan is the default tool for middle mouse button
                    cornerstoneTools.zoom.activate(element, 4); // zoom is the default tool for right mouse button
                    cornerstoneTools.zoomWheel.activate(element); // zoom is the default tool for middle mouse wheel
                    loaded = true;
                }
            }, function(err) {
                alert(err);
            });
        /*}
        catch(err) {
            alert(err);
        }*/
    }

    function downloadAndView()
    {
        var url = "http://rade134.github.io/IM-0239-0012.dcm";

        // prefix the url with wadouri: so cornerstone can find the image loader
        url = "wadouri:" + url;


        // image enable the dicomImage element and activate a few tools
        loadAndViewImage(url);
    }
    function showValue(num) {
        var result = document.getElementById('resultOfBar');
	result.value = num;
    }
    $(document).ready(function() {
        var element = $('#dicomImage').get(0);
        cornerstone.enable(element);
        downloadAndView();
        //loadDocument();
	$(".correction2-text").toggle();
	$(".show-hide-button").click(function(){
		$(".correction2-text").toggle();
		buttonToggle = $(".show-hide-button");
		if (buttonToggle.innerHTML != "Hide"){
			buttonToggle.innerHTML = "Hide";
		}else{
			buttonToggle.innerHTML = "Show";
		}
	});
	var slider = new Slider("#threshold",{
		formatter: function(value) {
			return 'Current value'+value;
		}
	});
    });


</script>
