<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>Review list</title>
<% end %>
<script>
$(document).ready(function(){
    $.ajaxSetup({ cache: false });
	var count = 0;
	var buttonHTML = '<input id="submit-button" class="hidden" name="commit" value="Find practise cases" type="submit" style="display: none"></input>';
    	$(document).on('change', 'input[type=checkbox]', function(){
	if ($(this).is(':checked')) {
		$(this).closest('td').addClass('info');  // unchecked	
		count++;
	}
	else {
    		$(this).closest('td').removeClass('info');  // checked
		count--;
	}
	
	if (count == 0) {
		if ($('#submit-label').hasClass('btn btn-primary')) {
			$('#submit-label').removeClass('btn btn-primary');
			$('#submit-label').addClass('btn btn-primary disabled');
			$('#submit-button').remove();
		}
	}
	else if (count > 0) {
		if ($('#submit-label').hasClass('disabled')) {
			$('#submit-label').removeClass('disabled');
			$('#submit-label').after(buttonHTML)
		}
	}
    	}); 
    	$(document).on('click', '#submit-label', function(){
	if (count == 0) {
		alert('ERROR: You must select at least one diagnosis.');
	}
	});
});
</script>
<a href="top"></a>
<%= render :partial => 'nav', :locals => { :pagetype => @pagetype } %>
<p></p></p></p>
<% if @ldx.present? %>
<%= form_tag("/problems/cases", method: "get") do %>
<div style="padding-top: 30px">
<p>Select the diagnoses you want to practise and click 'Find practice cases' at the bottom of the page.</p>
</div>
<table class="table">
<% @ldx.each do |l| %>
<tr><td>
		<% if l.end_dx.category == "key" %>
			<span class="key-strong">Key diagnosis</span> 
		<% elsif l.end_dx.category == "1" %>
			<strong>Category 1</strong>
		<% elsif l.end_dx.category == "2" %>
			<strong>Category 2</strong>
		<% elsif l.end_dx.category == "3" %>
			<strong>Category 3</strong>
		<% end %>
<%= l.end_dx.l1_name %>
<% if l.end_dx.dxable_type != "DxLevel1" %>
-> <%= l.end_dx.l2_name %>
	<% if l.end_dx.dxable_type == "DxLevel3" %>
	-> <%= l.end_dx.l3_name %>
	<% end %>
<% end %>	
		->	
<%= label_tag(l.name, (l.name)) %>
<%= check_box_tag("id[]", l.end_dx.id, false, :id => l.end_dx.id) %>
</td></tr>
<% end %>
</table>
<label for="submit-button" class="btn btn-primary disabled" id="submit-label"><i class="glyphicon glyphicon-search"></i> Find practice cases</label>
<p></p><p><a href="#top">Click here to go back to top</a></p>
<% end %>
<% else %>
<table height="50px"><tr><td></td></tr></table>
<p>Your review list is empty.</p><p> <%= link_to "Click here", review_list_add_problems_path %> to add some diagnoses to your review list.</p>
<% end %>

