<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>CRISTAL: Review list</title>
<% end %>
<a href="top"></a>
<div class="row container" style="max-width: 600px; margin: 0 auto">
<%= render :partial => 'nav', :locals => { :pagetype => @pagetype } %>
	<p></p>
	<p>
	<% if @noparam == true %>
	<span class="error">ERROR: Please enter a search term.</span>
	<% elsif @nofound == true %>
	<span class="error">ERROR: No matching search terms found.</span></p><p>
	<% end %>
	<% if @count == 1 %>
	<span class="key">Diagnosis successfully added. <%= link_to "Click here", review_list_problems_path %> to view your review list.</span>
	<% elsif @count > 1 %>
	<span class="key">Diagnoses successfully added. <%= link_to "Click here", review_list_problems_path %> to view your review list.</span>
	<% end %>
	</p>

<!----- DROPDOWN MENU MODE ---->
<% if params[:dropdown] %>
<script>
$(document).ready(function(){
    $.ajaxSetup({ cache: false });
    var count = 0;
    var buttonHTML = '<input id="submit-button" class="hidden" name="commit" value="Add to review list" type="submit" style="display: none"></input>';
    $(document).on('click', '.dx-toggle', function(){
	if ($(this).children('span').hasClass('glyphicon-menu-right')) {
       	 	$(this).children('span').removeClass('glyphicon-menu-right');
       		$(this).children('span').addClass('glyphicon-menu-down');
    	}
	else {
       	 	$(this).children('span').removeClass('glyphicon-menu-down');
       		$(this).children('span').addClass('glyphicon-menu-right');
	}

	if ($(this).next().hasClass('subdata')) {
        	$(this).next().slideToggle();
	}
	else {
		var level = $(this).attr("id");
		var $this = $(this)
        	// Get data from model
		$.ajax({
  			type:"GET",
  			url:"data",
  			dataType:"html",
  			data: {l: level},
  			success: function(data){
    				$this.after(data);
  			}
		});
	}
    });  
    	$(document).on('change', 'input[type=checkbox]', function(){
	if ($(this).is(':checked')) {
		$(this).closest('td').addClass('success-dropdown');  // unchecked	
		count++;
	}
	else {
    		$(this).closest('td').removeClass('success-dropdown');  // checked
		count--;
	}

	if (count == 0) {
		if ($('#submit-label').hasClass('btn btn-success')) {
			$('#submit-label').removeClass('btn btn-success');
			$('#submit-label').addClass('btn btn-success disabled');
			$('#submit-button').remove();
		}
	}
	else if (count > 0) {
		if ($('#submit-label').hasClass('disabled')) {
			$('#submit-label').removeClass('disabled');
			$('#submit-label').after(buttonHTML)
		}
	}

    	}); 
    	$(document).on('click', '#submit-label', function(){
	if (count == 0) {
		alert('ERROR: You must select at least one diagnosis.');
	}
	});
});
</script>
	<div class="col-md-12">
	<div class="well well-sm">
	<b>Looking for a specific diagnosis?</b>
	<br />
	<%= link_to "Switch to text search mode", review_list_add_problems_path %>
	</div>
	<p>
<b>Dropdown mode</b>
<br/>
Use the arrows to explore different sections of the RANZCR Body Systems Syllabus. Select the diagnoses you want to add and click <b>'Add to review list'</b> at the bottom of the page.
	</p>

	
<%= form_tag("/problems/review_list_add", method: "get") do %>
<% @count = 1 %>
<% @dxlevel1s.each do |d1| %>
<table class="table" style="max-width: 600px; text-align: left; margin: 0 auto">
  <tr>
  <td>
  <% @id = "l1_" + d1.id.to_s %>
  <%= content_tag :span, id: @id, class: "dx-toggle" do-%>
  <b><%= @count %>. <%= d1.name %></b> <%= content_tag :span, "", class: "glyphicon glyphicon-menu-right" %>
  <% @count=@count+1 %>
  <% end %>
  </td>
  </tr>
</table>
<% end %>
		<label for="submit-button" class="btn btn-success disabled" id="submit-label"><i class="glyphicon glyphicon-plus"></i> Add to review list</label>
		<p></p><p><a href="#top">Click here to go back to top</a></p>
<% end %>
</div>
<!------ TEXT SEARCH MODE-->
<% elsif !@searchdx.present? %>
	<div class="col-md-12">
	<div class="well well-sm">
	<b>Unsure what you're looking for?</b>
	<br />
	<%= link_to "Switch to dropdown menu mode", review_list_add_problems_path(:dropdown => true) %>
	</div>
	<p>
	<b>Text search mode</b>
	<br/>
	Search for a diagnosis from the RANZCR Radiodiagnosis Curriculum.
	</p>
	<div style="padding-top: 30px">
	<%= form_tag(review_list_add_problems_path, :method => "get", id: "search-dx-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Enter search term here", style: "width: 300px; height: 33px" %>
	<%= submit_tag "Search", class: "btn btn-primary"%>
	<% end %>
	</div>
	</div>
<% else %>
<script>
$(document).ready(function(){
	$.ajaxSetup({ cache: false });
	var count = 0;
	var buttonHTML = '<input id="submit-button" class="hidden" name="commit" value="Add to review list" type="submit" style="display: none"></input>';
    	$(document).on('change', 'input[type=checkbox]', function(){
	if ($(this).is(':checked')) {
		$(this).closest('td').addClass('success');  // unchecked
		count++;	
	}
	else {
    		$(this).closest('td').removeClass('success');  // checked
		count--;
	}
	if (count == 0) {
		if ($('#submit-label').hasClass('btn btn-success')) {
			$('#submit-label').removeClass('btn btn-success');
			$('#submit-label').addClass('btn btn-success disabled');
			$('#submit-button').remove();
		}
	}
	else if (count > 0) {
		if ($('#submit-label').hasClass('disabled')) {
			$('#submit-label').removeClass('disabled');
			$('#submit-label').after(buttonHTML)
		}
	}

    	}); 
    	$(document).on('click', '#submit-label', function(){
	if (count == 0) {
		alert('ERROR: You must select at least one diagnosis.');
	}
	}); 
});
</script>
<div class="col-md-12">
<p></p>
<%= form_tag("/problems/review_list_add", method: "get") do %>
<p></p>
		<p><span class="key">Search results: <%= @searchdx.length %> 
		<% if @searchdx.length > 1 %>diagnoses
		<% else %>
		diagnosis
		<% end %> found.</span></p>
		<p>Select the diagnoses you want to add and click 'Add to review list' at the bottom of the page.</p>
		<p><%= link_to "Search for a different diagnosis", review_list_add_problems_path %></p>
		<table class="table">
		<% @searchdx.each do |s| %>
			<tr><td>
	<% if s.category == "key" %>
	<strong class="key-strong">Key condition</strong>
	<% elsif s.category == "1" %>
		<strong>Category 1</strong>
	<% elsif s.category == "2" %>
		<strong>Category 2</strong>
	<% elsif s.category == "3" %>
		<strong>Category 3</strong>
	<% end %>
<%= s.l1_name %>
<% if s.dxable_type != "DxLevel1" %>
-> <%= s.l2_name %>
	<% if s.dxable_type == "DxLevel3" %>
	-> <%= s.l3_name %>
	<% end %>
<% end %>	
		->
			<%= label_tag(s.name, (s.name)) %>
			<% @ldx = LearnerDx.where(:end_dx_id => s.id, :user_id => current_user.id, :review_list => true) %>
			<% if !@ldx.blank? %>
			<span class="key">Already in review list</span>
			<% else %>
			<%= check_box_tag("id[]", s.id, false, :id => s.id) %>
			<% end %>
			</td></tr>
		<% end %>
		</table>
		<label for="submit-button" class="btn btn-success disabled" id="submit-label"><i class="glyphicon glyphicon-plus"></i> Add to review list</label>
		<p></p><p><a href="#top">Click here to go back to top</a></p>

<% end %>
</div>
<% end %>
</div>
