<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>Review list</title>
<% end %>

<%= link_to problems_path do %>
<span class="back"><span class="glyphicon glyphicon-triangle-left"></span>  Back to Problem Selection index</span>
<% end %>
	<div style="padding-top: 30px">
	<img src="/assets/reviewlist.jpg" style="width: 200px; height: 200px" />
	<p style="font-size: 20px">
	Add to review list
	</p>
	<p>
	Search for a diagnosis from the RANZCR Radiodiagnosis Curriculum
	</p>
	<p>
	<u>Switch to dropdown menu mode</u>
	</p>
	</div>
	<div style="padding-top: 50px">
	<%= form_tag(review_list_problems_path, :method => "get", id: "search-dx-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Enter search term here", style: "width: 300px; height: 33px" %>
	<%= submit_tag "Search", class: "btn btn-primary"%>
	<% end %>
	</div>
<p></p>
<%= f.collection_check_boxes(:end_dx_ids, EndDx.all, :id, :name) do |e| %>
<table class="table">
	<% if @endx.present? %>
		<tr><td>Diagnoses</td></tr>
		<%= e.label class:"label-checkbox" do%>
			<tr><td>
			<%=e.check_box + e.name%>
			</td></tr>
		<% end %>
	<% end %>
	<% if @endx.present? %>
		<tr><td><%= submit_tag("Add to review list") %></td></tr>
	<% end %>
	<% if !@endx.present? %>
		<tr><td>No diagnoses</td></tr>
	<% end %>
</table>
<% end %>
