<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>User select</title>
<% end %>

	<div style="padding-top: 30px">
	<p style="font-size: 20px">
	User select
	</p>
	<p>
	Search for a topic or diagnosis from the RANZCR Radiodiagnosis Curriculum
	</p>
	<p>
	<u>Switch to dropdown menu mode</u>
	</p>
	</div>
	<div style="padding-top: 50px">
	<p>
	<% if @noparam == true %>
	ERROR: Please enter a search term.
	<% elsif @nofound == true %>
	ERROR: No matching search terms found.
	<% end %>
	</p>
	<%= form_tag(user_select_problems_path, :method => "get", id: "search-dx-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Enter search term here", style: "width: 300px; height: 33px" %>
	<%= submit_tag "Search", class: "btn btn-primary"%>
	<% end %>
	</div>
<p></p>

<%= form_tag("/problems/cases", method: "get") do %>
<table class="table">
	<% if @searchdx.present? %>
		<tr><td>Diagnoses</td></tr>
		<% @searchdx.each do |s| %>
			<tr><td>
	<% if s.category == "key" %>
	<span class="key">Key diagnosis </span>
	<% elsif s.category == "1" %>
	Category 1
	<% elsif s.category == "2" %>
	Category 2
	<% elsif s.category == "3" %>
	Category 3
	<% end %>
			<%= label_tag(s.name, (s.dxable.name + " -> " + s.name)) %>
			<%= check_box_tag("id[]", s.id, false, :id => s.id) %>
			</td></tr>
		<% end %>
	<% end %>
	<% if @searchdx.present? %>
		<tr><td><%= submit_tag("Practice cases") %></td></tr>
	<% end %>
</table>
<% end %>
