<!-- Append content in the head tag -->
<% content_for :for_head do %>
	<title>CRISTAL: User select</title>
<% end %>
<a href="top"></a>
<div class="row container" style="max-width: 600px; margin: 0 auto">
  <div class="col-md-12 back" style="margin: 0 auto">
    <%= link_to problems_path do %><span class="glyphicon glyphicon-triangle-left"></span>  Back to Case Selection<% end %>
  </div>

  <p class="section_title">
    User select
  </p>
	<% if @noparam == true %>
	<span class="error">ERROR: Please enter a search term.</span>
	<% elsif @nofound == true %>
	<span class="error">ERROR: No matching search terms found.</span></p><p>
	<% end %>
	</p>

<!----- DROPDOWN MENU MODE ---->
<% if params[:dropdown] %>
<script>
$(document).ready(function(){
    $.ajaxSetup({ cache: false });
    $(document).on('click', '.dx-toggle', function(){
	if ($(this).children('span').hasClass('glyphicon-menu-right')) {
       	 	$(this).children('span').removeClass('glyphicon-menu-right');
       		$(this).children('span').addClass('glyphicon-menu-down');
    	}
	else {
       	 	$(this).children('span').removeClass('glyphicon-menu-down');
       		$(this).children('span').addClass('glyphicon-menu-right');
	}

	if ($(this).next().hasClass('subdata')) {
        	$(this).next().slideToggle();
	}
	else {
		var level = $(this).attr("id");
		var $this = $(this)
        	// Get data from model
		$.ajax({
  			type:"GET",
  			url:"data",
  			dataType:"html",
  			data: {l: level},
  			success: function(data){
    				$this.after(data);
  			}
		});
	}
    }); 
    	$(document).on('change', 'input[type=checkbox]', function(){
	if ($(this).is(':checked')) {
		$(this).closest('td').addClass('info-dropdown');  // unchecked	
	}
	else {
    		$(this).closest('td').removeClass('info-dropdown');  // checked
	}
    	}); 
});
</script>
<div class="col-md-12">
	<p>
Use the arrows to explore different sections of the RANZCR Body Systems Syllabus.
<br/>
	Select the diagnoses you want to practise and click 'Find practice cases' at the bottom of the page.
	</p>
	<p>
	<%= link_to "Switch to text search mode", user_select_problems_path %>
	</p>
	
<%= form_tag("/problems/cases", method: "get") do %>
<% @count = 1 %>
<% @dxlevel1s.each do |d1| %>
<table class="table" style="max-width: 600px; text-align: left; margin: 0 auto">
  <tr>
  <td>
  <% @id = "l1_" + d1.id.to_s %>
  <%= content_tag :span, id: @id, class: "dx-toggle" do-%>
  <b><%= @count %>. <%= d1.name %></b> <%= content_tag :span, "", class: "glyphicon glyphicon-menu-right" %>
  <% @count=@count+1 %>
  <% end %>
  </td>
  </tr>
</table>
<% end %>
<label for="submit-button" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Find practice cases</label>
<%= submit_tag "Find practice cases", id: "submit-button", class: "hidden"%>
		<p></p><p><a href="#top">Click here to go back to top</a></p>
<% end %>
</div>
<!------ TEXT SEARCH MODE-->
<% elsif !@searchdx.present? %>
	<div style="padding-top: 30px">
	<p>
	Search for diagnoses from the RANZCR Radiodiagnosis Curriculum to practise cases on.
	</p>
	<p>
	<%= link_to "Switch to dropdown menu mode", user_select_problems_path(:dropdown => true) %>
	</p>
	</div>
	<div style="padding-top: 50px">
	<%= form_tag(user_select_problems_path, :method => "get", id: "search-dx-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Enter search term here", style: "width: 300px; height: 33px" %>
	<%= submit_tag "Search", class: "btn btn-primary"%>
	<% end %>
	</div>
<% else %>
<script>
$(document).ready(function(){
	$.ajaxSetup({ cache: false });
    	$(document).on('change', 'input[type=checkbox]', function(){
	if ($(this).is(':checked')) {
		$(this).closest('td').addClass('info');  // unchecked	
	}
	else {
    		$(this).closest('td').removeClass('info');  // checked
	}
    	}); 
});
</script>
<p></p>

<%= form_tag("/problems/cases", method: "get") do %>
<p></p>
		<h3>Search results</h3>
		Select the diagnoses you want to practise and click 'Find practice cases' at the bottom of the page.
		<p><%= link_to "Search for a different diagnosis", user_select_problems_path %></p>
		<table class="table">
		<% @searchdx.each do |s| %>
			<tr><td>
	<% if s.category == "key" %>
	<strong class="key-strong">Key condition</strong>
	<% elsif s.category == "1" %>
		<strong>Category 1</strong>
	<% elsif s.category == "2" %>
		<strong>Category 2</strong>
	<% elsif s.category == "3" %>
		<strong>Category 3</strong>
	<% end %>
<%= s.l1_name %>
<% if s.dxable_type != "DxLevel1" %>
-> <%= s.l2_name %>
	<% if s.dxable_type == "DxLevel3" %>
	-> <%= s.l3_name %>
	<% end %>
<% end %>	
		->
			<%= label_tag(s.name, (s.name)) %>
			<%= check_box_tag("id[]", s.id, false, :id => s.id) %>
			</td></tr>
		<% end %>
		</table>
<label for="submit-button" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Find practice cases</label>
<%= submit_tag "Find practice cases", id: "submit-button", class: "hidden"%>
		<p></p><p><a href="#top">Click here to go back to top</a></p>

<% end %>
<% end %>
</div>
